.b-btn-group {
    float: left;
    padding: 0 20px;
}

.b-btn {
    margin-bottom: 10px;
    width: 140px;
    display: block;
    height: 30px;
    cursor: pointer;
}

.b-field {
    margin: 20px 0;
    border-collapse: collapse;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    cursor: pointer;
}

.b-field__cell {
    width: 80px;
    height: 80px;
    border: 3px solid #2E2E2E;
    text-align: center;
    vertical-align: middle;
    color: #2E2E2E;
    font-family: 'Marck Script', cursive;
    font-size: 80px;
}

.b-field__row:first-child .b-field__cell {
    border-top: none;
}

.b-field__row:last-child .b-field__cell {
    border-bottom: none;
}

.b-field__cell:first-child {
    border-left: none;
}

.b-field__cell:last-child {
    border-right: none;
}
