<button ng-click="clearBoard()">new game</button>

<button ng-click="makeMute()">
    <span ng-show="muteToggle">mute on</span>
    <span ng-hide="muteToggle">mute off</span>
</button>

<button ng-click="enableComputer()">
    <span ng-show="computerEnable">computer on</span>
    <span ng-hide="computerEnable">computer off</span>
</button>

<table class="b-field">
    <tr class="b-field__row" ng-repeat="row in rows">
        <td class="b-field__cell" ng-repeat="col in cols" ng-click="makeStep(row, col);">{{ viewStep(row, col); }}</td>
    </tr>
</table>