.b-control-panel {
    padding: 0 35px;
    float: left;
    font-size: 25px;
}

.b-score-table {
    color: #2E2E2E;
    text-align: justify;
    font: 700 1.19em 'Marck Script', cursive;
}

.b-score-table__player {
    font-size: 1em;
}

.b-score-table__score {
    width: .6em;
    text-align: center;
    display: inline-block;
}

.b-btn-group {
    margin: 15px 0;
}

.b-btn {
    margin-bottom: 10px;
    padding: 10px 32px;
    width: 160px;
    display: block;
    cursor: pointer;
    background: #3085d6;
    color: #fff;
    font-size: .65em;
    font-weight: 500;
    border: 0;
    border-radius: 3px;
    box-shadow: none;
}

.b-btn:hover {
    background: #2b78c1;
}

.b-field {
    margin: 20px 0;
    border-collapse: collapse;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    cursor: pointer;
}

.b-field__cell {
    width: 80px;
    height: 80px;
    border: 3px solid #2E2E2E;
    text-align: center;
    vertical-align: middle;
    color: #2E2E2E;
    font-family: 'Marck Script', cursive;
    font-size: 30px;
}

.b-field__cell.ng-animate {
    font-size: 80px;
    transition: all ease-in 110ms;
}

.b-field__row:first-child .b-field__cell {
    border-top: none;
}

.b-field__row:last-child .b-field__cell {
    border-bottom: none;
}

.b-field__cell:first-child {
    border-left: none;
}

.b-field__cell:last-child {
    border-right: none;
}

/* -------- @media ----------------------------- */

@media (max-width: 500px) {
    .b-control-panel {
        margin: 0 auto;
        padding: 0 50px;
        float: none;
        font-size: 8px;
    }

    .b-score-table {
        text-align: center;
        font-size: 4em;
    }

    .b-score-table__player {
        font-size: 1.4em;
    }

    .b-btn {
        margin-bottom: 15px;
        width: 100%;
        font-size: 2.4em;
    }

    .b-field__cell {
        width: 80px;
        height: 80px;
    }

    .b-field__cell.ng-animate {
        font-size: 80px;
    }
}
